<nav class="flex flex-wrap items-center justify-between text-gray-900 bg-white rounded-lg shadow-lg p-2 mb-4 w-full">
  <div class="flex items-center flex-shrink-0 mr-6">
    <span class="px-2 mr-2">
      <img src="{{ '/images/logo.png' | relative_url }}" alt="alt placeholder" class="w-8 h-8 -mt-1 inline mx-auto">
      Lewis Buckley
    </span>
  </div>

  <div class="block lg:hidden">
    <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:border-black">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>

  <div id="nav-content" class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0">
    <ul class="list-reset lg:flex flex-1 items-center">
      <li class="mr-3">
        <a class="inline-block py-2 px-4 no-underline" href="#">Active</a>
      </li>
      <li class="mr-3">
        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="#">link</a>
      </li>
      <li class="mr-3">
        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="#">link</a>
      </li>
    </ul>
  </div>
</nav>
