---
layout: default
---

<div class="h-full w-full flex md:flex-row flex-wrap pt-6">
  <!--Sidebar-->
  <div class="w-full md:w-1/5 px-2 text-center md:pt-8 h-16 md:h-full md:border-r-2 md:border-gray-400">
     <ul class="list-reset flex flex-row md:flex-col text-center md:text-left">
        {% assign filtered_pages = site.pages | where: "category", page.category | sort: "nav_order" %}
        {% for node in filtered_pages %}
          <li class="mr-4 flex-1">
            {% if page.url == node.url %}
              <a href="{{ node.url }}" class="block py-1 md:py-3 pl-1 align-middle text-orange-500 no-underline hover:text-orange-600 border-b-2 border-gray-400">
                <i class="fas fa-file pr-0 md:pr-3 text-orange-500"></i>
                <span class="pb-1 md:pb-0 text-xs md:text-base text-orange-500 block md:inline-block">{{ node.title }}</span>
              </a>
            {% else %}
              <a href="{{ node.url }}" class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-orange-500 border-b-2 border-gray-800 md:border-gray-400">
                <i class="fas fa-id-badge pr-0 md:pr-3"></i>
                <span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 block md:inline-block">{{ node.title }}</span>
              </a>
            {% endif %}
          </li>
        {% endfor %}
     </ul>
  </div>

  <!--Main Content-->
  <div class="w-full md:w-4/5">
    <div class="container pt-16 px-6">
      {{ content }}
    </div>
  </div>
</div>
